name: Build Mental Dojo

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE
      # --noconsole: Hides the black box
      # --onefile: Makes it a single .exe
      # --name: Names your file "MentalDojo.exe"
      run: pyinstaller --noconsole --onefile --name="MentalDojo" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MentalDojo-App
        path: dist/MentalDojo.exe
